#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# lemonade/p
on property:ro.boot.rf_version=11
    setprop ro.boot.hardware.revision "CN"

on property:ro.boot.rf_version=12
    setprop ro.boot.hardware.revision "TMO"

on property:ro.boot.rf_version=13
    setprop ro.boot.hardware.revision "IN"

on property:ro.boot.rf_version=21
    setprop ro.boot.hardware.revision "EU"

on property:ro.boot.rf_version=22
    setprop ro.boot.hardware.revision "NA"

# lunaa
on property:ro.boot.prjname=21603
    setprop ro.boot.hardware.revision "CN"

on property:ro.boot.prjname=21675
    setprop ro.boot.hardware.revision "IN"

on property:ro.boot.prjname=21676
    setprop ro.boot.hardware.revision "EU"

# martini
on property:ro.boot.prjname=20820
    setprop ro.boot.hardware.revision "CN"

on property:ro.boot.prjname=20821
    setprop ro.boot.hardware.revision "IN"

