#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    chown system system /sys/devices/platform/soc/soc:sensor_fb/adsp_notify

service oplus_sensor_fb /odm/bin/oplus_sensor_fb
    user system
    group system
    class late_start
    oneshot
