# Force SIM configuration to DSDS only on the CN/IN/EU variants

# China
on property:ro.boot.rf_version=11
    setprop persist.radio.multisim.config dsds

# India
on property:ro.boot.rf_version=13
    setprop persist.radio.multisim.config dsds

# Europe
on property:ro.boot.rf_version=21
    setprop persist.radio.multisim.config dsds
